# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment variables
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma / local db
.prisma
dev.db

# prisma generated (if custom path)
# /generated/prisma

# optional large data (enable later if needed)
# data/products.dump.json